@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(32, 30, 30);
    font-family: 'Roboto', sans-serif;
    padding: 150px;
    text-align: center;
}

article {
    color: rgb(208, 215, 221);
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 650px;
}

h1 {
    font-size: 50px;
}

h1.errcode {
    color: rgb(204, 204, 42);
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    padding-bottom: 0px;
}

p {
    font-size: 20px;
}

p.errmsg {
    color: rgb(204, 204, 42);
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

a {
    color: seagreen;
    font-size: 25px;
    text-align: center;
}

a.redir {
    color: rgb(60, 58, 58);
    font-size: 20px;
    text-align: center;
}

a.source {
    color: rgb(60, 58, 58);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}