@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');
body {
    background: rgb(32, 30, 30) url('src/bg/sydney.jpg') no-repeat fixed center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 100px;
}

.about {
    background-color: rgba(32, 32, 30, 0.2);
    color: rgb(255, 255, 255);
    display: inline-block;
    max-height: 250px;
    margin: 0 5 0 0;
    padding: 10px 0px 10px 10px;
    position: static;
    text-align: left;
    width: 930px;
}

h1 {
    display: inline;
    font-size: 120px;
    margin: 0px, 0px, 10px;
    vertical-align: middle;
}

h1.errcode {
    color: rgb(204, 204, 42);
    display: inline;
    font-family: 120px 'Roboto Mono', monospace;
    margin: 0px, 0px, 8px;
    vertical-align: middle;
}

img.icon {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin: 0px 5px 0px 0px;
}

.info {
    padding-left: 0px;
    padding-right: 5px;
    display: inline-flex;
    height: 64px;
    width: 70px;
    transition: width 1.5s ease-in-out;
}

.src {
    background-color: rgba(32, 32, 30, 0.7);
    bottom: 0;
    padding: 0px 15px 0px 15px;
    position: fixed;
    text-align: center;
    width: 425px;
}

p {
    font-size: 32px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

p.errmsg {
    color: rgb(204, 204, 42);
    display: inline-block;
    font: 72px 'Roboto Mono', monospace;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
}

p.source {
    color: rgb(60, 58, 58);
    display: inline-block;
    white-space: nowrap;
    font: 16px 'Roboto Mono', monospace;
}

a.source {
    color: rgb(187, 223, 197);
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
}

a.username {
    color: rgb(255, 255, 255);
    display: inline-flex;
    font: 32px 'Roboto Mono', monospace;
    position: relative;
    padding: 7px 0;
    text-decoration: none;
    white-space: nowrap;
    width: 20px;
    height: 50px;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s ease-in-out, width 1.5s ease-in-out;
}

.info:hover a.username {
    width: 300px;
    opacity: 1;
    transition: opacity 2s ease-in-out, width 1.5s ease-in-out;
}
.info:hover {
    width: 375px;
    transition: width 1.5s ease-in-out;
}